.image-grid{
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
	grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
  .image-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    img{
      height: 100%;
      object-fit: contain;
      transition: all 0.4s ease;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}