ol{
  margin: 2em 0;
  font-family: var(--font-headers);
  color: var(--color-primary);
  font-weight: bold;
  list-style: none;
  counter-reset: li;
  li{
    counter-increment: li;
  }
  li::before{
    content: counter(li);
    color: var(--color-secondary);
    margin-right: 1em;
    width: 10px;
    display: inline-block;
  }
}

ul{
  list-style: none;
  font-family: var(--font-headers);
  font-weight: bold;
  margin: 3em 0;
  li{
    color: var(--color-secondary);
    &::before{
      content: "\2022";
      color: var(--color-primary);
      font-weight: bold;
      display: inline-block;
      width: 10px;
      margin-right: 1em;
    }
    .date{
      padding-left: 26px;
      font-family: 'Muli';
      color: #424242;
      font-weight: lighter;
    }
  }
}