.education-page {
  ul {
    margin-top: 3em;

    li {
      margin-bottom: 1.5rem;
      display: flex;
      p {
        color: #003a81;
      }
    }
    li:before {
      color: #003a81;
    }
  }
}

@media only screen and (max-width: 768px) {
  .education-page {
    .hero-image {
      height: 260px;

      img {
        height: 100%;
      }
    }

    ul {
      li {
        margin-bottom: 3rem;

        & > b {
          color: black;
        }
      }
    }
  }
}
