.social-labor-page{

}

@media only screen and (max-width: 768px) {
  .social-labor-page,
  .neuro-page{
    .hero-image{
      height: 260px;
      img{
        height: 100%;
      }
    }
    ul{
      li{
        margin-bottom: 3rem;
      }
    }
  }
}