.support-page{
  justify-content: center;
  align-items: center;
  text-align: center;
  .button-container{
    justify-content: center;
    margin: 3rem auto;
    display: flex;
    .button{
      margin: 0 1rem;
      display: flex;
      justify-content: center;
    }
  }
  .social-media-container{
    display: flex;
    justify-content: center;
    a{
      width: 30px;
      margin: 0 10px;
      img{
        width: 100%;
      }
    }
  }
  .images-container{
    display: grid;
    grid-gap: 20px;
    margin: 3rem 0;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) );
    img{
      filter: grayscale(1);
      opacity: 0.3;
    }
  }
}

@media only screen and (max-width: 768px) {
  .support-page{
    .button-container{
      flex-direction: column;
      .button{
        &:first-of-type{
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 410px) {
  .support-page{
    .button-container{
      flex-direction: column;
      .button{
        &:first-of-type{
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}