/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Muli:300|Roboto+Slab:400,700&display=swap");

/* VARIABLES */

:root {
  --color-primary: #f5b4c8;
  --color-secondary: #eb7095;
  --clear-background: #fbf4f6;
  --font-headers: "Roboto Slab", serif;
  --font-body: "Muli", sans-serif;
  --header-height: 100px;
}

/* COMPONENTS */

@import "components/header.scss";
@import "components/footer.scss";
@import "components/mobile-menu.scss";
@import "components/buttons.scss";
@import "components/headlines.scss";
@import "components/imageLink.scss";
@import "components/lists.scss";
@import "components/storyCards.scss";
@import "components/section-header.scss";
@import "components/section-body.scss";
@import "components/image-grid.scss";
@import "components/doctor-card.scss";
@import "components/event-card.scss";
@import "components/donations-card.scss";
@import "components/offer-card.scss";

/* PAGES */

@import "pages/landing/intro.scss";
@import "pages/landing/about.scss";
@import "pages/landing/institutions.scss";
@import "pages/landing/history.scss";
@import "pages/landing/procedures.scss";
@import "pages/landing/contact.scss";
@import "pages/education.scss";
@import "pages/investigation.scss";
@import "pages/pregnancy.scss";
@import "pages/about.scss";
@import "pages/support.scss";
@import "pages/social-labor.scss";
@import "pages/doctor-page.scss";
@import "pages/productivity.scss";
@import "pages/compartim.scss";

/* GENERAL STYLES */

body {
  font-family: var(--font-body);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
}

a {
  font-family: var(--font-headers);
}

.App {
  visibility: hidden;
}

.full-screen {
  width: 100%;
}

.content-screen {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.site-content {
  padding-top: var(--header-height);
}
.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: thin;
  border-radius: 15px;
  margin-bottom: 20px;
  background: hsl(0, 0%, 96%);
}

.button {
  border: none;
}
.social-links {
  padding: 10px 0;
  display: flex;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 100%;
  max-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 100%;
  }
  img {
    width: 100%;
    margin: 0;
  }
}

.white {
  color: white;
}

.aifs{
  align-items: flex-start;
}