.about{
  margin: 20vh auto;
  .row{
    justify-content: space-between;
    align-items: center;
    .image-content{
      width: 35%;
      height: auto;
      margin-bottom: 0;
    }
    .content-box{
      width: 50%;
    }
  }
}