.about{
  margin: 20vh auto;
  .row{
    justify-content: space-between;
    align-items: center;
    .image-content{
      width: 35%;
      height: auto;
      margin-bottom: 0;
    }
    .content-box{
      width: 50%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about{
    margin: 10vh auto;
    margin-bottom: 12vh;
    .row{
      flex-direction: column-reverse;
      .content-box{
        width: 100%;
        margin-bottom: 3rem;
      }
      .image-content{
        width: 80%;
      }
    }
  }
}