.history{
  background-color: var(--clear-background);
  padding: 12vh 0;
  margin-bottom: 2rem;
  .row{
    justify-content: space-between;
    position: relative;
    .content-box{
      width: 45%;
    }
    .image-content{
      width: 40%;
      position: absolute;
      right: 0;
      top: -3rem;
      margin-bottom: 0;
      img{
        width: 100%;
        max-height: 550px;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .history {
    padding-bottom: 0;
    .content-screen{
      h2{
        width: 80%;
      }
      .row{
        flex-direction: column;
        .content-box{
          width: 100%;
        }
        .image-content{
          position: relative;
          width: 100%;
        }
      }
    }
  }
}