.intro {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-height));
  position: relative;
  .blank-box {
    width: 50%;
    height: inherit;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    .cover {
      position: absolute;
      width: 58vw;
      height: calc(100vh - 88px);
      object-fit: cover;
      padding: 10vh 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .bghjHX {
        margin: 0px !important;
      }
    }
    .social-media-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem;
      z-index: 3;
      a {
        margin-right: 1rem;
      }
      img {
        margin-bottom: 0;
        width: 24px;
      }
    }
  }
  .text-box {
    width: 50%;
    position: absolute;
    right: 0;
    padding: 0 2em 0 12%;
    height: inherit;
    background-color: var(--color-primary);
    //animation: slide-in 1.7s ease forwards;
    animation-delay: 1.2s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    p {
      margin-bottom: 1rem;
    }
    h1 {
      margin-bottom: 80px;
    }
  }
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
    padding: 0 2em 0 12%;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    .blank-box {
      width: 100%;
      justify-content: center;
      .cover {
        width: 100%;
        padding-top: 0;
        height: 50vh;
        top: 0;
      }
      .social-media-container {
        display: none;
      }
    }
    .text-box {
      width: 100%;
      justify-content: flex-end;
      padding: 0 7% 50px 7%;
      h1 {
        font-size: 1.8em;
        margin-bottom: 30px;
      }
    }
  }
}
