.intro {
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: 100%;
  .blank-box {
    width: 50%;
    height: inherit;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    .cover {
      height: calc(100vh - 88px);
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
      }
      .bghjHX {
        margin: 0px !important;
      }
    }
    .social-media-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem;
      z-index: 3;
      a {
        margin-right: 1rem;
      }
      img {
        margin-bottom: 0;
        width: 24px;
      }
    }
  }
  .text-box {
    background-color: var(--color-primary);
    width: 100%;
    color: white;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

@keyframes slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
    padding: 0 2em 0 12%;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    .blank-box {
      width: 100%;
      .cover {
        width: 100%;
        top: 0;
      }
      .social-media-container {
        display: none;
      }
    }
    .text-box {
      width: 100%;
      justify-content: flex-end;
      h1 {
        font-size: 1.8em;
        margin-bottom: 30px;
      }
    }
  }
}
